@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="content-wrap">
    <div class="row">

        <div class="col-sm-12">
            <div class="nest" id="basicClose">
                <div class="title-alt">
                    <h6>
                        @*Basic*@
                    </h6>
                    <div class="titleClose">
                        <a class="gone" href="#basicClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#basic">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="basic">
                    <div class="form_center" style="background: url('/assets/img/ruby.png') no-repeat center; min-height:300px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>