<!-- PreFOOTER -->
<div class="container">
    <div class="ct-dividedSection ct-u-paddingTop35">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="ct-dividedSection-left">
                    <h3>Bültenimize Üye Olun</h3>
                    <div class="ct-contactForm" style="width:80%;">
                        <div class="input-group">
                            <input type="email" id="bullettinEmail" class="form-control" placeholder="E-Mail Adresiniz" required>
                            <span class="input-group-btn">
                                <a href="javascript:;" id="btnBullettinEmail" class="btn btn-default btn-sm"><i class="fa fa-fw fa-long-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="ct-dividedSection-right">
                    <img src="/theme/images/content/prefooter-diamond.png" class="text-right pull-left" alt="Payidar.com.tr">
                    <h3 class="text-uppercase text-right">Takılar mı?</h3>
                    Eğer takılarınız veya takılarımızla ilgili sorularınız varsa doğrudan iletişime geçebilir ya da iletişim kurmak için <a href="/contact">iletişim formumuzu</a> kullanabilirsiniz.
                    <div class="ct-dividedSection-right-triangle hidden-sm hidden-xs"></div>
                </div>
            </div>
        </div>
        <div class="ct-tooltips text-center ct-u-paddingTop50 ct-u-paddingBottom20">
            <ul class="list-unstyled list-inline">
                <li data-toggle="tooltip" title="Binlerce müşterimiz takılarını çok sevdi."><i class="fa fa-heart fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Nakit, kredi kartı, banka havalesi veya mağaza ile ödeme yapabilirsiniz."><i class="fa fa-dollar fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Tamamen korunuyoruz ve tüm ödemeleriniz güvende."><i class="fa fa-lock fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Takılarımız garantilidir."><i class="fa fa-certificate fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="7/24 destek ve hizmetinizdeyiz."><i class="fa fa-headphones fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Yeni çıkan tüm ürünler anında e-postanızda."><i class="fa fa-envelope fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="48 saat içinde ücretsiz ve kolay iletişim."><i class="fa fa-circle-o-notch fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Ücretsiz Teslimat ve Güvence."><i class="fa fa-truck fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Verileriniz tamamen koruma altında."><i class="fa fa-folder fa-fw fa-6x"></i></li>
                <li data-toggle="tooltip" title="Takılarda aradığınız tüm ölçüler burada."><i class="fa fa-pencil-square-o fa-fw fa-6x"></i></li>
            </ul>
        </div>
    </div>
</div>