<div class="container">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
            <div class="ct-footer-image">
                <img src="/theme/images/content/footer-necklace.png" alt="Özel Tasarımlar">
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <h5 class="ct-widgetHeader text-uppercase ct-u-size17">Müşteri Hizmetleri</h5>
            <div class="ct-widgetLinks">
                <ul class="ct-widgetLinks-list">
                    <li><a href="/content/ucretsiz-kargo">Ücretsiz Kargo</a></li>
                    <li><a href="/content/15-gun-icinde-iade">15 Gün İçinde İade</a></li>
                    <li><a href="/content/ozel-siparisler">Özel Siparişler</a></li>
                    <li><a href="/content/ucretsiz-hediye-paketi">Ücretsiz Hediye Paketi</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 col-md-2">
            <h5 class="ct-widgetHeader text-uppercase ct-u-size17">Sipariş İşlemleri</h5>
            <div class="ct-widgetLinks">
                <ul class="ct-widgetLinks-list">
                    <li><a href="/content/satis-sozlesmesi">Satış Sözleşmesi</a></li>
                    <li><a href="/content/gizlilik-ve-guvenlik">Gizlilik ve Güvenlik</a></li>
                    <li><a href="/content/odeme-ve-teslimat">Ödeme ve Teslimat</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 col-md-2">
            <h5 class="ct-widgetHeader text-uppercase ct-u-size17">Biz Kimiz?</h5>
            <div class="ct-widgetLinks">
                <ul class="ct-widgetLinks-list">
                    <li><a href="/content/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/content/vizyon-ve-misyonumuz">Vizyon ve Misyonumuz</a></li>
                    <li><a href="/contact">İletişim</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <h5 class="ct-widgetHeader text-uppercase ct-u-size18 ct-u-paddingBottom20">Sosyal Medyadayız</h5>
            <ul class="ct-socials ct-socials--large ct-socials--white list-inline list-unstyled">
                <li><a href="//www.facebook.com/payidarcomtr"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="//www.instagram.com/payidarcomtr"><i class="fa fa-instagram fa-fw"></i></a></li>
                <li><a href="//www.twitter.com/payidarcomtr"><i class="fa fa-twitter fa-fw"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="ct-u-bottomFooterBar ct-u-paddingTop20 ct-u-marginTop10">
            <div class="col-sm-6">
                <div class="ct-rights">
                    <a href="http://www.nvisionsoft.net" target="_blank">nvisionsoft.net</a> © Copyright @DateTime.Now.Year
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ct-iconPayments pull-right">
                    <ul class="list-inline list-unsyled">
                        <li><i class="fa fa-cc-visa fa-fw fa-2x"></i></li>
                        <li><i class="fa fa-cc-mastercard fa-fw fa-2x"></i></li>
                        <li><i class="fa fa-cc-discover fa-fw fa-2x"></i></li>
                        <li><i class="fa fa-cc-amex fa-fw fa-2x"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
