<div class="container">
    <div class="ct-header ct-header--default ct-u-paddingTop20 ct-u-paddingBottom15">
        <div class="ct-header-navigation">
            <ul class="list-unstyled list-inline">
                <li><a href="/user/my-account">Hesabım</a></li>
                @*<li><a href="wishlist.html">Seçtiklerim</a></li>*@
                <li><a href="/basket">Sepetim</a></li>
            </ul>
        </div>
        <div class="ct-header-logo">
            <a href="/">
                <img src="/theme/images/content/logo.png" alt="Payidar Takı">
            </a>
        </div>
    </div>
</div>