<div class="ct-topBar-basket">
    <a href="/basket">
        <span class="ct-topBar-basket-cart"><i class="fa fa-fw fa-shopping-cart"></i> Sepet: </span>
        <span class="ct-topBar-basket-quantity" id="basketQuantity">0 ürün</span>
        <span class="ct-topBar-basket-price" id="basketTotalAmount"> - 0.00 <i class="fa fa-try" aria-hidden="true"></i></span>
    </a>
    <div class="ct-topBar-basket-info">
        <div id="topBasketListWrapper">
            <div id="basketMiniProductList"></div>
            <div class="clearfix"></div>
            <div class="ct-cartSubtotal">
                <div class="pull-left ct-fw-600">İndirim</div>
                <div class="pull-right ct-fw-600" id="discountBasketAmount">0.00 <i class="fa fa-try" aria-hidden="true"></i></div>
                <div class="clearfix"></div>
                <div class="pull-left ct-fw-600">Toplam</div>
                <div class="pull-right ct-fw-600" id="orginalBasketTotalAmount">0.00 <i class="fa fa-try" aria-hidden="true"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="ct-cartGoNext text-uppercase ct-u-paddingBoth20">
                <a class="btn btn-default pull-right ct-u-width-49pc" style="line-height:30px;" href="/basket" role="button">Kasaya Git <i class="fa fa-angle-double-right fa-fw"></i></a>
            </div>
        </div>
        <h4 id="basketListNotFound" style="text-align:center;">
            Şu anda sepetinizde ürün bulunmamaktadır.
        </h4>
    </div>
</div>