
@{
    ViewBag.Title = "Şifremi Unuttum | Payidar.com.tr";
    ViewBag.Description = "Şifrenizi unuttuysanız e-mail adresinize gönderebilirsiniz.";
    ViewBag.Keyword = "şifre, unuttum, şifremi unuttum, payidar şifre";

    ViewBag.AppId = "298309987280028";
    ViewBag.OgType = "article";
    ViewBag.Url = "https://payidar.com.tr" + Request.RawUrl;
    ViewBag.Title = "Şifremi Unuttum | Payidar.com.tr";
    ViewBag.Description = "Şifrenizi unuttuysanız e-mail adresinize gönderebilirsiniz.";
    ViewBag.Image = "https://payidar.com.tr/theme/images/content/logo_big.png";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ct-contentWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="ct-headerBox ct-u-borderBottom ct-u-paddingBottom20 text-left ct-u-paddingTop10">Şifrenizi mi Unuttunuz?</h4>
                <div class="ct-u-size16 ct-u-paddingBottom30">Lütfen e-mail adresinizi giriniz. E-Mail adresiniz kayıtlı olduğu takdir de şifreniz adresinize gönderilecektir.</div>
                <form class="form-horizontal ct-u-paddingBottom20" method="post" action="/user/forgot-password">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email*:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">
                                Şifreyi Gönder <i class="fa fa-long-arrow-right fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h4 class="ct-headerBox ct-u-borderBottom ct-u-paddingBottom20 text-left ct-u-paddingTop10">Bizi Takip Edin</h4>
                <div class="ct-u-paddingBottom20 ct-u-paddingTop30">
                    <ul class="ct-socials ct-socials--small ct-socials--black list-inline list-unstyled">
                        <li><a href="//www.facebook.com/payidarcomtr"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li><a href="//www.instagram.com/payidarcomtr"><i class="fa fa-instagram fa-fw"></i></a></li>
                        <li><a href="//www.twitter.com/payidarcomtr"><i class="fa fa-twitter fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- PreFOOTER -->
</div>