<h4 class="ct-headerBox ct-u-borderBottom ct-u-paddingBottom20 text-left ct-u-paddingTop10">Kullanıcı Menüsü</h4>
<ul class="ct-categories list-unstyled ct-u-paddingTop20">
    <li><a href="/user/my-account">Üyelik Bilgilerim</a></li>
    <li><a href="/user/my-account/edit">Üyelik Bilgilerimi Güncelle</a></li>
    <li><a href="/basket">Alışveriş Sepetim</a></li>
    <li><a href="/user/orders">Siparişlerim</a></li>
    <li><a href="/user/favorites">Favorilerim</a></li>
    <li><a href="/user/ticket">Havale Bildirim Formu</a></li>
    <li><a href="/user/address/delivery">Teslimat Adreslerim</a></li>
    <li><a href="/user/address/invoice">Fatura Adreslerim</a></li>
</ul>